<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
      <span aria-hidden="true" class="ui-button-icon-left ui-clickable fa fa-fw fa-check spam-button-drop"></span>
      <i class="fa fa-caret-down"></i>
    </button>     

  <!-- <div id="myDropdown" class="dropdown-content">
    <input type="text" *ngIf="filter" [(ngModel)]="filtro" placeholder="Procurar.." id="myInput" onkeyup="filterFunction()">
    <a  *ngFor="let element of filterList()" (click)="onClickElement(element)">{{element.label}}</a>
    <a *ngIf="filterList() == false">Nenhum elemento encontrado</a>
  </div> -->

  <div id="myDropdown" class="dropdown-content">
    <input type="text" *ngIf="filter" [(ngModel)]="filtro" placeholder="Procurar.." id="myInput" onkeyup="filterFunction()">
    <a class="section-list" *ngIf="filterList().length > 0"> Seção</a>
    <a *ngFor="let element of filterList()" (click)="onClickElement(element)" class="item-list">   {{element.label}}</a>
    <a *ngIf="filterList() == false">Nenhum elemento encontrado</a>

  </div>
</div>